<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <title> Ноутбуки</title>
    <meta name="csrf-token" content="Y4g9iQsnHaFDECi9qzS1YY7qVT3TTvTn7pbOYoZu">
    <script src="https://upg.uz/js/jquery-3.4.1.slim.min.js"></script>
    <script src="https://upg.uz/build/js/cart.js?id=f75002199b8dfa8f1c47"></script>
    <link rel="icon" href="https://upg.uz/images/image/128x128.png" type="image/x-icon" />

    <link rel="stylesheet" href="https://upg.uz/css/bootstrap.css">
    <link rel="stylesheet" href="https://upg.uz/css/_price-rating-comments.css">
    <link rel="stylesheet" href="https://upg.uz/css/range.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.7.0/nouislider.min.css"
          integrity="sha512-40vN6DdyQoxRJCw0klEUwZfTTlcwkOLKpP8K8125hy9iF4fi8gPpWZp60qKC6MYAFaond8yQds7cTMVU8eMbgA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://upg.uz/css/build.css">
    <link rel="stylesheet" href="https://upg.uz/css/bootstrap-slider.min.css">
    <link rel="stylesheet" href="https://upg.uz/css/bootstrap-select.css">
    <link rel="stylesheet" href="https://upg.uz/css/mneniya_feed.css">
    <link rel="stylesheet" href="https://upg.uz/css/prettyPhoto.css">
    <link rel="stylesheet" href="https://upg.uz/css/cloud-zoom.css">
    <link rel="stylesheet" href="https://upg.uz/css/responsive-tabs.css">
    <link rel="stylesheet" href="https://upg.uz/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://upg.uz/css/news.css">
    <link rel="stylesheet" href="https://upg.uz/css/newsprods.css">
    <link rel="stylesheet" href="https://upg.uz/css/articles.css">

    <link rel="stylesheet" href="https://upg.uz/build/css/styles.css?id=a0944967b9f7af4607ef">

    <!--jQuery-->
    <!--Plugin JavaScript file-->


    <style>
        .modal-wrapper-second {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 10000;
        }

            .modal-wrapper-second .modal-overlay {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: #33333359;
            }

            .modal-wrapper-second .modal-container {
                padding: 0;
                background-color: white;
                z-index: 10000;
                width: 300px;
            }

                .modal-wrapper-second .modal-container .modal-header {
                    display: flex;
                    justify-content: flex-start;
                    background-color: #ff0096;
                    color: white;
                    position: relative;
                }

                    .modal-wrapper-second .modal-container .modal-header .close-btn {
                        cursor: pointer;
                        position: absolute;
                        right: 15px;
                    }

        .noUi-connect {
            background: #ff0096 !important;
        }

        .tab-ones .active {
            border: 1px solid #f7f7f7;
            background-color: #f7f7f7;
            color: #ff0096;
        }

        #map {
            width: 100%;
            height: 500px;
        }
    </style>

</head>

<body class="common-home">


    <!-- page loader -->
    <div class="wrapper-loader">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>

            @RenderBody()

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-12 col-sm-12 col-xs-20 col-link">
                    <p>Информация</p>
                    <a href="/contact" class="">О компании</a>
                    <a href="/contact" class="">Контактная информация</a>
                    <a href="/contact" class="">Наши магазины</a>
                </div>
                <div class="col-lg-10 col-md-12 col-sm-12 col-xs-20 col-link">
                    <p>Поддержка</p>
                    <a href="/contact" class="">Сервисные центры</a>

                </div>
                <div class="col-lg-10 col-md-12 col-sm-12 col-xs-20 col-link">
                    <p>Покупателям</p>

                    <a href="/specials" class="">Акции</a>
                </div>

                <div class="col-lg-10 col-md-12 col-sm-12 col-xs-20 col-link">
                    <p>Мы принимаем к оплате</p>
                    <ul style="padding: 0; margin: 0;
color: #fff;
font-size: 14px;
">
                        <li style="margin-top: 8px;">Наличные</li>
                        <li style="margin-top: 8px;">PayMe</li>
                        <li style="margin-top: 8px;">Click</li>
                        <li style="margin-top: 8px;">UzCard</li>
                        <li style="margin-top: 8px;">Apelsin</li>
                    </ul>

                </div>
                <div class="col-lg-20 col-md-12 col-sm-12 col-xs-20 col-link">
                    <p>Мы в социальных сетях</p>

                    <a href="https://www.instagram.com/upguz/" target="_blank" class="social-ins"></a>
                    <a href="https://www.youtube.com/channel/UCucATMjFOFH5ZaYG7e0lCgg" target="_blank"
                        class="social-yo"></a>
                    <a href="https://t.me/UPGuz" target="_blank" class="social-tg"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-40 col-md-36 col-sm-60 col-xs-60 col-link">
                </div>
                <div class="col-lg-11 col-md-13 col-sm-36 col-xs-30 col-link">
                </div>
            </div>
        </div>
    </footer>

    <script>

        let filterSubmitButton = $('#catalog-filter-submit');
        let filterForm = $('#catalog-filter-form');
        let catalogCharacteristics = $('#catalog-characteristics');

        $(document).ready(function (e) {
            filterSubmitButton.click(function (e) {
                e.preventDefault();

                let brands = getFilter('brands-checkbox');
                // let characteristics = getDropdownFilter('catalog-characteristics');

                let brandsInput = $('#brands-hidden-input');
                // let characteristicsInput = $('characteristics-hidden-input');
                // console.log(characteristics);

                let i = 0;
                while ($(`.characteristics-${i}`).length) {
                    const characteristicsInput = $(`#characteristics-${i}-hidden-input`);
                    const characteristic = $('.characteristics-' + i).children('option:selected').val()
                    if (characteristic) {
                        characteristicsInput.val(characteristic);
                    }
                    // const characteristics = getDropdownFilter('characteristics-' + i);
                    // console.log(characteristic);
                    i++;
                }

                // characteristicsInput.val(characteristics);

                brandsInput.val(brands);

                filterForm.submit();
            });
        });

        function getDropdownFilter(className) {
            let filter = '';
            $('select.' + className).each(function () {
                filter += $(this).children('option:selected').val() + ',';
                // filter.push($(this).val());
            });
            return filter.slice(0, -1);
        }

        function getFilter(className) {
            let filter = '';
            $('.' + className + ':checked').each(function () {
                filter += $(this).val() + ',';
                // filter.push($(this).val());
            });
            return filter.slice(0, -1);
        }
    </script>

</body>

</html>