<div class="col-lg-60 col-xs-60">
    <div class="row row-brands">
        <div class="col-lg-60 col-brands">
            <a target="_blank" class="item-brand" href="https://www.1stplayer.com/">
                <img width="100" src="~/images/Brend/1stplayer.png"
                     alt="https://www.1stplayer.com/" />
            </a>
            <a target="_blank" class="item-brand" href="https://2egaming.com/en/">
                <img width="100" src="~/images/Brend/2egaming.png"
                     alt="https://2egaming.com/en/" />
            </a>
            <a target="_blank" class="item-brand" href="https://www.acer.com/ru-ru">
                <img width="100" src="~/images/Brend/acer.png"
                     alt="https://www.acer.com/ru-ru" />
            </a>
            <a target="_blank" class="item-brand" href="https://www.ocpcgaming.com/">
                <img width="100" src="~/images/Brend/acpc.png"
                     alt="https://www.ocpcgaming.com/" />
            </a>
            <a target="_blank" class="item-brand" href="https://aerocool.io/ru/">
                <img width="100" src="~/images/Brend/aerocool.png"
                     alt="https://aerocool.io/ru/" />
            </a>
            <a target="_blank" class="item-brand" href="http://www.aigo.com/">
                <img width="100" src="~/images/Brend/aigo.png" alt="http://www.aigo.com/" />
            </a>
            <a target="_blank" class="item-brand" href="https://en.akkogear.com/">
                <img width="100" src="~/images/Brend/akko.png"
                     alt="https://en.akkogear.com/" />
            </a>
            <a target="_blank" class="item-brand" href="https://us.dahuasecurity.com/">
                <img width="100" src="~/images/Brend/alhua.png"
                     alt="https://us.dahuasecurity.com/" />
            </a>
            <a target="_blank" class="item-brand" href="https://www.alseyecorp.com/">
                <img width="100" src="~/images/Brend/alseye.png"
                     alt="https://www.alseyecorp.com/" />
            </a>
            <a target="_blank" class="item-brand" href="https://anbernic.com/">
                <img width="100" src="~/images/Brend/anbernic.png"
                     alt="https://anbernic.com/" />
            </a>
            <a target="_blank" class="item-brand" href="https://www.andaseat.com/">
                <img width="100" src="~/images/Brend/andaseat.png"
                     alt="https://www.andaseat.com/" />
            </a>
            <a target="_blank" class="item-brand" href="https://www.antec.com/">
                <img width="100" src="~/images/Brend/antec.png"
                     alt="https://www.antec.com/" />
            </a>
            <a target="_blank" class="item-brand" href="https://www.apple.com/">
                <img width="100" src="~/images/Brend/apple.png"
                     alt="https://www.apple.com/" />
            </a>
            <a target="_blank" class="item-brand" href="https://www.asus.com/">
                <img width="100" src="~/images/Brend/asus.png"
                     alt="https://www.asus.com/" />
            </a>
            <a target="_blank" class="item-brand" href="http://microlab.com/">
                <img width="100" src="~/images/Brend/microlab.png"
                     alt="http://microlab.com/" />
            </a>
            <a target="_blank" class="item-brand" href="http://immer.uz/">
                <img width="100" src="~/images/Brend/immer.png" alt="http://immer.uz/" />
            </a>
            <a target="_blank" class="item-brand"
               href="https://www.benq.com/ru-ru/index.html">
                <img width="100" src="~/images/Brend/benq.png"
                     alt="https://www.benq.com/ru-ru/index.html" />
            </a>
            <a target="_blank" class="item-brand" href="https://ziffler.uz/">
                <img width="100" src="~/images/Brend/ziffler.png"
                     alt="https://ziffler.uz/" />
            </a>
            <a target="_blank" class="item-brand" href="https://bloodyusa.ecwid.com/">
                <img width="100" src="~/images/Brend/bloody.png"
                     alt="https://bloodyusa.ecwid.com/" />
            </a>
            <a target="_blank" class="item-brand" href="https://ru.canyon.eu/">
                <img width="100" src="~/images/Brend/canyon.png"
                     alt="https://ru.canyon.eu/" />
            </a>
            <a target="_blank" class="item-brand" href="https://www.coolermaster.com/">
                <img width="100" src="~/images/Brend/coolermaster.png"
                     alt="https://www.coolermaster.com/" />
            </a>
            <a target="_blank" class="item-brand" href="https://www.corsair.com/us/en">
                <img width="100" src="~/images/Brend/corsair.png"
                     alt="https://www.corsair.com/us/en" />
            </a>
            <a target="_blank" class="item-brand" href="https://www.crucial.com/">
                <img width="100" src="~/images/Brend/crucial.png"
                     alt="https://www.crucial.com/" />
            </a>
            <a target="_blank" class="item-brand" href="https://www.kingston.com/ru">
                <img width="100" src="~/images/Brend/kingston.png"
                     alt="https://www.kingston.com/ru" />
            </a>
            <a target="_blank" class="item-brand" href="https://www.deepcool.com/">
                <img width="100" src="~/images/Brend/deepcool.png "
                     alt="https://www.deepcool.com/" />
            </a>
            <a target="_blank" class="item-brand" href="https://www.dell.com/en-uk">
                <img width="100" src="~/images/Brend/dell.png"
                     alt="https://www.dell.com/en-uk" />
            </a>
            <a target="_blank" class="item-brand" href="https://www.kzzistore.com/">
                <img width="100" src="~/images/Brend/kzzi.png"
                     alt="https://www.kzzistore.com/" />
            </a>
            <a target="_blank" class="item-brand" href="https://www.duckychannel.com.tw/en">
                <img width="100" src="~/images/Brend/ducky.png"
                     alt="https://www.duckychannel.com.tw/en" />
            </a>
            <a target="_blank" class="item-brand" href="https://www.lenovo.com.cn/">
                <img width="100" src="~/images/Brend/lenovo.png"
                     alt="https://www.lenovo.com.cn/" />
            </a>
            <a target="_blank" class="item-brand" href="https://www.lg.com/ru">
                <img width="100" src="~/images/Brend/lg.png" alt="https://www.lg.com/ru" />
            </a>
            <a target="_blank" class="item-brand" href="https://lian-li.com/ru/">
                <img width="100" src="~/images/Brend/lianli.png"
                     alt="https://lian-li.com/ru/" />
            </a>
            <a target="_blank" class="item-brand" href="https://aoc.com/us">
                <img width="100" src="~/images/Brend/loc.png" alt="https://aoc.com/us" />
            </a>
            <a target="_blank" class="item-brand" href="https://www.logitech.com/">
                <img width="100" src="~/images/Brend/logitech.png"
                     alt="https://www.logitech.com/" />
            </a>
            <a target="_blank" class="item-brand" href="https://about.meta.com/">
                <img width="100" src="~/images/Brend/meta.png"
                     alt="https://about.meta.com/" />
            </a>
            <a target="_blank" class="item-brand" href="https://www.mi.com/global/">
                <img width="100" src="~/images/Brend/mi.png"
                     alt="https://www.mi.com/global/" />
            </a>
            <a target="_blank" class="item-brand" href="https://www.msi.com/index.php">
                <img width="100" src="~/images/Brend/msi.png"
                     alt="https://www.msi.com/index.php" />
            </a>
            <a target="_blank" class="item-brand" href="https://www.nintendo.com/us/">
                <img width="100" src="~/images/Brend/nintendo.png"
                     alt="https://www.nintendo.com/us/" />
            </a>
            <a target="_blank" class="item-brand" href="https://www.playstation.com/ru-ua/">
                <img width="100" src="~/images/Brend/playstation.png"
                     alt="https://www.playstation.com/ru-ua/" />
            </a>
            <a target="_blank" class="item-brand" href="https://www.rampage.com.tr/en/">
                <img width="100" src="~/images/Brend/rampage.png" alt="" />
            </a>
            <a target="_blank" class="item-brand" href="https://www.vivo.com/en">
                <img width="100" src="~/images/Brend/vivo.png" alt="" />
            </a>
            <a target="_blank" class="item-brand" href="https://varmilo.com/">
                <img width="100" src="~/images/Brend/varmilo.png"
                     alt="https://varmilo.com/" />
            </a>
            <a target="_blank" class="item-brand"
               href="https://www.asus.com/ru/laptops/for-gaming/tuf-gaming/">
                <img width="100" src="~/images/Brend/tufgaming.png"
                     alt="https://www.asus.com/ru/laptops/for-gaming/tuf-gaming/" />
            </a>
            <a target="_blank" class="item-brand" href="https://ca.hyperx.com/">
                <img width="100" src="~/images/Brend/hyperX.png"
                     alt="https://ca.hyperx.com/" />
            </a>
            <a target="_blank" class="item-brand" href="https://steelseries.com/">
                <img width="100" src="~/images/Brend/steelserias.png"
                     alt="https://steelseries.com/" />
            </a>
        </div>
    </div>
</div>