@{
    ViewData["Title"] = "UPG";
}


<header>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a class="dot" href="#" data-toggle="modal" data-target="#myModal" id="openModal">Вход/регистрация</a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="iconlink" href="https://upg.uz/en/favorites">
                            <div class="icon-favourite "><span class="icon-count" id="top-wishlist-total">0</span></div><span class="link-title hidden-md hidden-sm">Закладки</span>
                        </a>
                    </li>
                    <li>
                        <a class="iconlink" id="compareBtn" style="cursor: pointer">
                            <div class="icon-compare "><span class="icon-count" id="top-compare-total">0</span></div><span class="link-title hidden-md hidden-sm">Сравнение товаров</span>
                        </a>
                    </li>
                    <li>
                        <a class="iconlink " href="/cart-list">
                            <div class="icon-cart " id="cartContainer"><span class="icon-count counter" id="top-shopping-cart-total">0</span></div><span class="link-title hidden-md hidden-sm">Корзина</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    <script>
        $(document).ready(function (e) {
            let elements = localStorage.getItem('compare_product');
            let compareProducts = 0;
            let categoryElements;
            let elementKeys;
            if (elements) {
                categoryElements = JSON.parse(elements);
                console.log(`categoryElements`);
                console.log(categoryElements);
                elementKeys = Object.keys(categoryElements);
                console.log(categoryElements);
                console.log(elementKeys);
                for (const elementKey in elementKeys) {
                    const element = categoryElements[elementKeys[elementKey]].split(',');
                    element[element.length - 1] === '' ? element.splice(-1, 1) : element;
                    compareProducts += element.length;
                }
            } else {
                elements = [];
            }
            $('#top-compare-total').html(compareProducts);

            $('#compareBtn').click(function (e) {
                e.preventDefault();
                const categoryId = Object.keys(elements)[0];
                console.log('loging in top-header')
                elements = localStorage.getItem('compare_product');
                let parameter = '';
                if (elements) {
                    categoryElements = JSON.parse(elements);
                    elementKeys = Object.keys(categoryElements);
                    parameter = `?categories=${elementKeys}&data=${categoryElements[elementKeys[0]]}`;
                }
                window.location.href = `https://upg.uz/en/compare${parameter}#`;
            });

        });
        $(document).ready(function () {
            $('#openModal').click(function (e) {
                e.preventDefault();
                $('#modal').show();
            });
            $('#closeModal').click(function (e) {
                e.preventDefault();
                $('#modal').hide();
            });
            $('.close-modal-logout').click(function (e) {
                e.preventDefault();
                $('#modal').hide();
            });
        })

    </script>
    <div class="container">
        <div class="row row-logo">
            <div class="col-lg-16 col-md-17 col-sm-30 col-xs-60 text-center logo-link">
                <a href="/" class="" style="display: block;">
                    <img class="img-responsive img-logo centered" src="https://upg.uz/images/image/upgLogo.png" alt="" width="100%" height="100%" />
                </a>
            </div>
            <div class="col-lg-21 col-md-22 col-sm-30 col-xs-60 col-head-box">
                <div class="marker-box" style="line-height: 0">
                    <a href="/contact">Расположение Улица Наваи 37</a><br>
                    <a href="/contact" style="line-height: 10px;">Расположение Трц. Малика магазин Б-24</a>

                    <span class="header-msub1">
                        Режим работы: ПН, ВТ, СР, ЧТ, СБ, ВС | с 10:00 - 20:00
                        <br>
                        Выходной: ПТ
                    </span>
                </div>
            </div>
            <div class="col-lg-23 col-md-21 col-sm-60 col-xs-60 col-head-box">
                <div class="phone-box">
                    <div class="phone-item">
                        <span><a href="tel:+998991242424" style="text-decoration:none">(99) 124-24-24</a></span>
                        <span class="header-msub2">(ул. Навои 37)</span>
                    </div>
                    <div class="phone-item">
                        <span><a href="tel:+998971242424" style="text-decoration:none">(97) 124-24-24</a></span>
                        <span class="header-msub2">(Трц. Малика B24)</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-search">

            <div class="col-lg-45 col-md-45 col-sm-40 col-xs-60 col-search">
                <div class="row">
                    <div class="col-xs-60">
                        <form action="/search" class="input-group input-group-lg" id="search-form" method="GET">
                            <input type="text" name="name" value="" class="form-control search-input"
                                   placeholder="Найти, например, HyperX Cloud Alpha" id="search-input" autocomplete="off" />
                            <div class="dropdown-menu" style="top: 40px; left: 0px; display: none;" id="droping">
                            </div>
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-success btn-custom">Найти</button>
                            </div><!-- /btn-group -->
                        </form><!-- /input-group -->

                    </div><!-- /.col-xs-12 -->
                </div><!-- /.row -->
            </div>
            <div class="hidden-md hidden-lg col-sm-20 col-xs-60 col-menu" id="mobileCategory">

                <div class="row">
                    <div class="col-xs-60 hide-menu">
                        <div class="input-group input-group-lg">
                            <div class="input-group-btn">
                                <button class="btn btn-success btn-custom btn-custom-1" id="btn-hide-menu">
                                    Каталог<span class="menu-arrow-down" id="btn-hide-menu-arrow"></span>
                                </button>
                                <ul class="mn-vnavigation" id="top-navigation" style="display: none;">

                                    <li class="dropdown-submenu">
                                        <a tabindex="-1" asp-controller="Home" asp-action="Sborka"
                                           class="parent">
                                            <img class="catalog-icon"
                                                 src="~/images/Category_images/Sborka.png">
                                            Игровые Сборки
                                        </a>

                                    </li>

                                    <li class="dropdown-submenu">
                                        <a tabindex="-1" asp-controller="Home" asp-action="Laptops"
                                           class="parent">
                                            <img class="catalog-icon"
                                                 src="~/images/Category_images/Laptops.png">
                                            Ноутбуки
                                        </a>

                                    </li>

                                    <li class="dropdown-submenu">
                                        <a tabindex="-1" asp-controller="Home" asp-action="Keyboards"
                                           class="parent">
                                            <img class="catalog-icon"
                                                 src="~/images/Category_images/keyboards.png">
                                            Клавиатуры
                                        </a>

                                    </li>

                                    <li class="dropdown-submenu">
                                        <a tabindex="-1" asp-controller="Home" asp-action="Mouses"
                                           class="parent">
                                            <img class="catalog-icon"
                                                 src="https://upg.uz/storage/files/categories/1/original/ClVCWXWlYzbSJfe9ntj0idV1TDx377oHx86ScpDE.png">
                                            Мышки
                                        </a>

                                    </li>

                                    <li class="dropdown-submenu">
                                        <a tabindex="-1" asp-controller="Home" asp-action="Headphones"
                                           class="parent">
                                            <img class="catalog-icon"
                                                 src="https://upg.uz/storage/files/categories/5/original/d9I688kCoxpZ2mlRhxKFYFxlnHi7IrtiKeo1BBOQ.png">
                                            Наушники
                                        </a>

                                    </li>

                                    <li class="dropdown-submenu">
                                        <a tabindex="-1" asp-controller="Home" asp-action="Microfones"
                                           class="parent">
                                            <img class="catalog-icon"
                                                 src="https://upg.uz/storage/files/categories/4/original/xlHL5OX68DV7E5dceXXY9aRCDDpK0iq3GLc250bR.png">
                                            Микрофоны
                                        </a>

                                    </li>

                                    <li class="dropdown-submenu">
                                        <a tabindex="-1" asp-controller="Home" asp-action="MousePads"
                                           class="parent">
                                            <img class="catalog-icon"
                                                 src="https://upg.uz/storage/files/categories/7/original/EN2FfWb0AyLw3u4EEaxC4YLPMZboJmmYG1mOfpN0.jpg">
                                            Коврики для мыши
                                        </a>

                                    </li>

                                    <li class="dropdown-submenu">
                                        <a tabindex="-1" asp-controller="Home" asp-action="Acsessories"
                                           class="parent">
                                            <img class="catalog-icon"
                                                 src="https://upg.uz/storage/files/categories/8/original/VadcrJsqiLz8kLU6QXd3NrIWz9skO9HqWzAmv2gz.png">
                                            Аксессуары
                                        </a>

                                    </li>

                                    <li class="dropdown-submenu">
                                        <a tabindex="-1" asp-controller="Home" asp-action="Decor">
                                            class="parent">
                                            <img class="catalog-icon"
                                                 src="https://upg.uz/storage/files/categories/48/original/I7RUBYI5SRCYQ74Tcdmvl9eOkjYJbNXaOQC70pzC.png">
                                            Декор
                                        </a>

                                    </li>

                                    <li class="dropdown-submenu">
                                        <a tabindex="-1" asp-controller="Home" asp-action="Kits">
                                            class="parent">
                                            <img class="catalog-icon"
                                                 src="https://upg.uz/storage/files/categories/10/original/xoR1asP3svzpJkHjzt0ak1c8YJFZdbqeo5EeSylu.png">
                                            Комплекты
                                        </a>

                                    </li>

                                    <li class="dropdown-submenu">
                                        <a tabindex="-1" asp-controller="Home" asp-action="Monitors">
                                            class="parent">
                                            <img class="catalog-icon"
                                                 src="https://upg.uz/storage/files/categories/16/original/zqinDL2blKzyi1hKHZc7bjaa47wWaBTX5weF37Nu.png">
                                            Мониторы
                                        </a>

                                    </li>

                                    <li class="dropdown-submenu">
                                        <a tabindex="-1"
                                           asp-controller="Home" asp-action="SSDorHDD"
                                           class="parent">
                                            <img class="catalog-icon"
                                                 src="https://upg.uz/storage/files/categories/23/original/ekFcdz4ptTSEI7WHAUCnRQDji9hI1KYPt42uRIAh.png">
                                            Накопители
                                        </a>

                                    </li>

                                    <li class="dropdown-submenu">
                                        <a tabindex="-1" asp-controller="Home" asp-action="RAM"
                                           class="parent">
                                            <img class="catalog-icon"
                                                 src="https://upg.uz/storage/files/categories/24/original/PPnmwAwixtZlWMzILfqOo8aVXFxkwDUlP8gi6Rez.png">
                                            ОЗУ
                                        </a>

                                    </li>

                                    <li class="dropdown-submenu">
                                        <a tabindex="-1" asp-controller="Home" asp-action="UPS"
                                           class="parent">
                                            <img class="catalog-icon"
                                                 src="https://upg.uz/storage/files/categories/49/original/ZxAm4LRIFFQq2kALK03yLK0Zs4JKDkyDr0zTyx0r.png">
                                            UPS
                                        </a>

                                    </li>

                                    <li class="dropdown-submenu">
                                        <a tabindex="-1" asp-controller="Home" asp-action="PowerSupplies"
                                           class="parent">
                                            <img class="catalog-icon"
                                                 src="https://upg.uz/storage/files/categories/47/original/nvB5YiCzARiogKii62ozj9JT2FRmUrZdsFZIalg5.png">
                                            Блоки питания
                                        </a>

                                    </li>

                                    <li class="dropdown-submenu">
                                        <a tabindex="-1" asp-controller="Home" asp-action="Colons"
                                           class="parent">
                                            <img class="catalog-icon"
                                                 src="https://upg.uz/storage/files/categories/13/original/xgQKYM19GYo0bZxcZcosGIGIrrsEKhuoyvKDmWhu.png">
                                            Колонки
                                        </a>

                                    </li>

                                    <li class="dropdown-submenu">
                                        <a tabindex="-1" asp-controller="Home" asp-action="WebCam"
                                           class="parent">
                                            <img class="catalog-icon"
                                                 src="https://upg.uz/storage/files/categories/12/original/vHTy1p93afSz7YWwEtVQcocnhJ9O91Gn7M7EYBPe.png">
                                            Веб-Камеры
                                        </a>

                                    </li>

                                    <li class="dropdown-submenu">
                                        <a tabindex="-1" asp-controller="Home" asp-action="AppleProducts"
                                           class="parent">
                                            <img class="catalog-icon"
                                                 src="https://upg.uz/storage/files/categories/46/original/YDLt8UdjcWcp56OYjx3JOKEIqTtXD3xD6fiAqooY.png">
                                            Продукция Apple
                                        </a>

                                    </li>

                                    <li class="dropdown-submenu">
                                        <a tabindex="-1" asp-controller="Home" asp-action="GamingConsoles"
                                           class="parent">
                                            <img class="catalog-icon"
                                                 src="https://upg.uz/storage/files/categories/26/original/pWPl4NOSA8IqeWOGdyAOkyebkXVV3JwbGIhoDlu6.png">
                                            Игровые консоли
                                        </a>

                                    </li>

                                    <li class="dropdown-submenu">
                                        <a tabindex="-1"
                                           asp-controller="Home" asp-action="Gamepads"
                                           class="parent">
                                            <img class="catalog-icon"
                                                 src="https://upg.uz/storage/files/categories/11/original/KJ87wGwc922s2bvKiUFUF0EtKYSgp6TytQsYnYTK.png">
                                            Игровые геймпады
                                        </a>

                                    </li>

                                    <li class="dropdown-submenu">
                                        <a tabindex="-1" asp-controller="Home" asp-action="Glasses"
                                           class="parent">
                                            <img class="catalog-icon"
                                                 src="https://upg.uz/storage/files/categories/9/original/jHBuspaT1OZfpnUhEZdBfSGFxgsH1bWBYH502JJV.png">
                                            Очки для геймеров
                                        </a>

                                    </li>

                                    <li class="dropdown-submenu">
                                        <a tabindex="-1" asp-controller="Home" asp-action="WiFiRouter"
                                           class="parent">
                                            <img class="catalog-icon"
                                                 src="https://upg.uz/storage/files/categories/17/original/XQGWDdWvqxKY72v68oAP32w8fl8WMByzXeMqFi5y.png">
                                            Wi-Fi Роутеры
                                        </a>

                                    </li>

                                    <li class="dropdown-submenu">
                                        <a tabindex="-1" asp-controller="Home" asp-action="Kronshteyns"
                                           class="parent">
                                            <img class="catalog-icon"
                                                 src="https://upg.uz/storage/files/categories/25/original/mXILQW2LGkZCubFAvUSuLPE9kDyrasOnmI9V0ILU.png">
                                            Кронштейны
                                        </a>

                                    </li>

                                    <li class="dropdown-submenu">
                                        <a tabindex="-1" asp-controller="Home" asp-action="Coolers"
                                           class="parent">
                                            <img class="catalog-icon"
                                                 src="https://upg.uz/storage/files/categories/22/original/w9vLhnGIpo1rLTu8Mdy0bYDXCEVo1InT1WoD8phI.png">
                                            Кулера
                                        </a>

                                    </li>

                                    <li class="dropdown-submenu">
                                        <a tabindex="-1" asp-controller="Home" asp-action="Cases"
                                           class="parent">
                                            <img class="catalogupg.uz/storage/files/categories/19/original/ndp71MvfsLPxnbmhq0SS4qWDSfkcaIu0GZCb1s1t.png">
                                            Корпуса
                                        </a>

                                    </li>-icon"
                                    src="https://

                                    <li class="dropdown-submenu">
                                        <a tabindex="-1" asp-controller="Home" asp-action="Armchairs"
                                           class="parent">
                                            <img class="catalog-icon"
                                                 src="https://upg.uz/storage/files/categories/14/original/w0QtYaEkocyKm7R9zaTZi24FaVBiIU2ii495WaWs.png">
                                            Кресла
                                        </a>

                                    </li>

                                    <li class="dropdown-submenu">
                                        <a tabindex="-1" asp-controller="Home" asp-action="Tables" class="parent">
                                            <img class="catalog-icon"
                                                 src="https://upg.uz/storage/files/categories/27/original/caZDCrvFxGauDtr93yF8nSgi19pGpiUTEZyhtU34.png">
                                            Столы для геймеров
                                        </a>

                                    </li>

                                </ul>
                            </div><!-- /btn-group -->
                        </div><!-- /input-group -->
                    </div><!-- /.col-xs-12 -->
                </div>
            </div>
        </div>

        <script>
            $('#btn-hide-menu').click(function (e) {
                e.preventDefault();
                $('#top-navigation').toggle();
            })
            $('.menu-arrow').click(function (e) {
                e.stopPropagation();
                let element = $(this);
                $('.dropdown-menu').hide()
                element.siblings('.dropdown-menu').toggle();
            });
            $('.dropdown-menu').click(function (e) {
                e.stopPropagation();
            })
            $(document).click(function (e) {
                $('.dropdown-menu').hide()
                console.log('clicking')
            })
            $('.item-carousel-id').click(function (e) {
                e.stopPropagation();
            })
            $(document).ready(() => {
                if (window.innerWidth > 700) {
                    $('#mobileCategory').hide();
                }
            })
        </script>
    </div>
</header>

<section>
    <div class="container theme-showcase main-container" role="main">
        <div class="row">
            <div class="col-lg-15 col-md-15 col-sm-20 col-xs-60 fi-tablet-left">
                <div id="column-left">
                    <ul class="mn-vnavigation" id="side-navigation">
                        <li><a class="menu-header">Каталог</a></li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" asp-controller="Home" asp-action="Sborka"
                               class="parent">
                                <img class="catalog-icon"
                                     src="~/images/Category_images/Sborka.png">
                                Игровые Сборки
                            </a>

                        </li>

                        <li class="dropdown-submenu">
                            <a tabindex="-1" asp-controller="Home" asp-action="Laptops"
                               class="parent">
                                <img class="catalog-icon"
                                     src="~/images/Category_images/Laptops.png">
                                Ноутбуки
                            </a>

                        </li>

                        <li class="dropdown-submenu">
                            <a tabindex="-1" asp-controller="Home" asp-action="Keyboards"
                               class="parent">
                                <img class="catalog-icon"
                                     src="~/images/Category_images/keyboards.png">
                                Клавиатуры
                            </a>

                        </li>

                        <li class="dropdown-submenu">
                            <a tabindex="-1" asp-controller="Home" asp-action="Mouses"
                               class="parent">
                                <img class="catalog-icon"
                                     src="https://upg.uz/storage/files/categories/1/original/ClVCWXWlYzbSJfe9ntj0idV1TDx377oHx86ScpDE.png">
                                Мышки
                            </a>

                        </li>

                        <li class="dropdown-submenu">
                            <a tabindex="-1" asp-controller="Home" asp-action="Headphones"
                               class="parent">
                                <img class="catalog-icon"
                                     src="https://upg.uz/storage/files/categories/5/original/d9I688kCoxpZ2mlRhxKFYFxlnHi7IrtiKeo1BBOQ.png">
                                Наушники
                            </a>

                        </li>

                        <li class="dropdown-submenu">
                            <a tabindex="-1" asp-controller="Home" asp-action="Microfones"
                               class="parent">
                                <img class="catalog-icon"
                                     src="https://upg.uz/storage/files/categories/4/original/xlHL5OX68DV7E5dceXXY9aRCDDpK0iq3GLc250bR.png">
                                Микрофоны
                            </a>

                        </li>

                        <li class="dropdown-submenu">
                            <a tabindex="-1" asp-controller="Home" asp-action="MousePads"
                               class="parent">
                                <img class="catalog-icon"
                                     src="https://upg.uz/storage/files/categories/7/original/EN2FfWb0AyLw3u4EEaxC4YLPMZboJmmYG1mOfpN0.jpg">
                                Коврики для мыши
                            </a>

                        </li>

                        <li class="dropdown-submenu">
                            <a tabindex="-1" asp-controller="Home" asp-action="Acsessories"
                               class="parent">
                                <img class="catalog-icon"
                                     src="https://upg.uz/storage/files/categories/8/original/VadcrJsqiLz8kLU6QXd3NrIWz9skO9HqWzAmv2gz.png">
                                Аксессуары
                            </a>

                        </li>

                        <li class="dropdown-submenu">
                            <a tabindex="-1" asp-controller="Home" asp-action="Decor"
                                class="parent">
                                <img class="catalog-icon"
                                     src="https://upg.uz/storage/files/categories/48/original/I7RUBYI5SRCYQ74Tcdmvl9eOkjYJbNXaOQC70pzC.png">
                                Декор
                            </a>

                        </li>

                        <li class="dropdown-submenu">
                            <a tabindex="-1" asp-controller="Home" asp-action="Kits"
                                class="parent">
                                <img class="catalog-icon"
                                     src="https://upg.uz/storage/files/categories/10/original/xoR1asP3svzpJkHjzt0ak1c8YJFZdbqeo5EeSylu.png">
                                Комплекты
                            </a>

                        </li>

                        <li class="dropdown-submenu">
                            <a tabindex="-1" asp-controller="Home" asp-action="Monitors"
                                class="parent">
                                <img class="catalog-icon"
                                     src="https://upg.uz/storage/files/categories/16/original/zqinDL2blKzyi1hKHZc7bjaa47wWaBTX5weF37Nu.png">
                                Мониторы
                            </a>

                        </li>

                        <li class="dropdown-submenu">
                            <a tabindex="-1"
                               asp-controller="Home" asp-action="SSDorHDD"
                               class="parent">
                                <img class="catalog-icon"
                                     src="https://upg.uz/storage/files/categories/23/original/ekFcdz4ptTSEI7WHAUCnRQDji9hI1KYPt42uRIAh.png">
                                Накопители
                            </a>

                        </li>

                        <li class="dropdown-submenu">
                            <a tabindex="-1" asp-controller="Home" asp-action="RAM"
                               class="parent">
                                <img class="catalog-icon"
                                     src="https://upg.uz/storage/files/categories/24/original/PPnmwAwixtZlWMzILfqOo8aVXFxkwDUlP8gi6Rez.png">
                                ОЗУ
                            </a>

                        </li>

                        <li class="dropdown-submenu">
                            <a tabindex="-1" asp-controller="Home" asp-action="UPS"
                               class="parent">
                                <img class="catalog-icon"
                                     src="https://upg.uz/storage/files/categories/49/original/ZxAm4LRIFFQq2kALK03yLK0Zs4JKDkyDr0zTyx0r.png">
                                UPS
                            </a>

                        </li>

                        <li class="dropdown-submenu">
                            <a tabindex="-1" asp-controller="Home" asp-action="PowerSupplies"
                               class="parent">
                                <img class="catalog-icon"
                                     src="https://upg.uz/storage/files/categories/47/original/nvB5YiCzARiogKii62ozj9JT2FRmUrZdsFZIalg5.png">
                                Блоки питания
                            </a>

                        </li>

                        <li class="dropdown-submenu">
                            <a tabindex="-1" asp-controller="Home" asp-action="Colons"
                               class="parent">
                                <img class="catalog-icon"
                                     src="https://upg.uz/storage/files/categories/13/original/xgQKYM19GYo0bZxcZcosGIGIrrsEKhuoyvKDmWhu.png">
                                Колонки
                            </a>

                        </li>

                        <li class="dropdown-submenu">
                            <a tabindex="-1" asp-controller="Home" asp-action="WebCam"
                               class="parent">
                                <img class="catalog-icon"
                                     src="https://upg.uz/storage/files/categories/12/original/vHTy1p93afSz7YWwEtVQcocnhJ9O91Gn7M7EYBPe.png">
                                Веб-Камеры
                            </a>

                        </li>

                        <li class="dropdown-submenu">
                            <a tabindex="-1" asp-controller="Home" asp-action="AppleProducts"
                               class="parent">
                                <img class="catalog-icon"
                                     src="https://upg.uz/storage/files/categories/46/original/YDLt8UdjcWcp56OYjx3JOKEIqTtXD3xD6fiAqooY.png">
                                Продукция Apple
                            </a>

                        </li>

                        <li class="dropdown-submenu">
                            <a tabindex="-1" asp-controller="Home" asp-action="GamingConsoles"
                               class="parent">
                                <img class="catalog-icon"
                                     src="https://upg.uz/storage/files/categories/26/original/pWPl4NOSA8IqeWOGdyAOkyebkXVV3JwbGIhoDlu6.png">
                                Игровые консоли
                            </a>

                        </li>

                        <li class="dropdown-submenu">
                            <a tabindex="-1"
                               asp-controller="Home" asp-action="Gamepads"
                               class="parent">
                                <img class="catalog-icon"
                                     src="https://upg.uz/storage/files/categories/11/original/KJ87wGwc922s2bvKiUFUF0EtKYSgp6TytQsYnYTK.png">
                                Игровые геймпады
                            </a>

                        </li>

                        <li class="dropdown-submenu">
                            <a tabindex="-1" asp-controller="Home" asp-action="Glasses"
                               class="parent">
                                <img class="catalog-icon"
                                     src="https://upg.uz/storage/files/categories/9/original/jHBuspaT1OZfpnUhEZdBfSGFxgsH1bWBYH502JJV.png">
                                Очки для геймеров
                            </a>

                        </li>

                        <li class="dropdown-submenu">
                            <a tabindex="-1" asp-controller="Home" asp-action="WiFiRouter"
                               class="parent">
                                <img class="catalog-icon"
                                     src="https://upg.uz/storage/files/categories/17/original/XQGWDdWvqxKY72v68oAP32w8fl8WMByzXeMqFi5y.png">
                                Wi-Fi Роутеры
                            </a>

                        </li>

                        <li class="dropdown-submenu">
                            <a tabindex="-1" asp-controller="Home" asp-action="Kronshteyns"
                               class="parent">
                                <img class="catalog-icon"
                                     src="https://upg.uz/storage/files/categories/25/original/mXILQW2LGkZCubFAvUSuLPE9kDyrasOnmI9V0ILU.png">
                                Кронштейны
                            </a>

                        </li>

                        <li class="dropdown-submenu">
                            <a tabindex="-1" asp-controller="Home" asp-action="Coolers"
                               class="parent">
                                <img class="catalog-icon"
                                     src="https://upg.uz/storage/files/categories/22/original/w9vLhnGIpo1rLTu8Mdy0bYDXCEVo1InT1WoD8phI.png">
                                Кулера
                            </a>

                        </li>

                        <li class="dropdown-submenu">
                            <a tabindex="-1" asp-controller="Home" asp-action="Cases"
                               class="parent">
                                <img class="catalog-icon" src="https://upg.uz/storage/files/categories/19/original/ndp71MvfsLPxnbmhq0SS4qWDSfkcaIu0GZCb1s1t.png">
                                Корпуса
                            </a>

                        </li>
                        

                        <li class="dropdown-submenu">
                            <a tabindex="-1" asp-controller="Home" asp-action="Armchairs"
                               class="parent">
                                <img class="catalog-icon"
                                     src="https://upg.uz/storage/files/categories/14/original/w0QtYaEkocyKm7R9zaTZi24FaVBiIU2ii495WaWs.png">
                                Кресла
                            </a>

                        </li>

                        <li class="dropdown-submenu">
                            <a tabindex="-1" asp-controller="Home" asp-action="Tables" class="parent">
                                <img class="catalog-icon"
                                     src="https://upg.uz/storage/files/categories/27/original/caZDCrvFxGauDtr93yF8nSgi19pGpiUTEZyhtU34.png">
                                Столы для геймеров
                            </a>

                        </li>

                    </ul>
                </div>
                <script>
                    $('.menu-arrow').click(function (e) {
                        e.stopPropagation();
                        let element = $(this);
                        $('.dropdown-menu').hide()
                        element.siblings('.dropdown-menu').toggle();
                    });
                    $('.dropdown-menu').click(function (e) {
                        e.stopPropagation();
                    })
                    $(document).click(function (e) {
                        e.stopPropagation();

                        $('.dropdown-menu').hide()
                        console.log('clicking')
                    })
                    $('.item-carousel-id').click(function (e) {
                        e.stopPropagation();
                    })

                </script>
            </div>
            <div class="col-lg-45 col-md-45 col-sm-40 col-xs-60 fi-tablet-main">
                <!-- Casousel -->
                <div class="row-header">
                    <div class="col-lg-60 col-xs-60">
                        <h2>
                            <i class="title-icon icon-discount"></i>Товары со скидкой
                            <span class="actions">
                                <a href="/specials/">Показать все</a>
                            </span>
                        </h2>
                        <div class="carousel-buttons">
                            <a href="#discountSlider" role="button" data-slide="prev" class="carousel-button-left"
                               id="discountSliderPrev"></a>
                            <a href="#discountSlider" role="button" data-slide="next" class="carousel-button-right"
                               id="discountSliderNext"></a>
                        </div>
                    </div>
                </div>
                <div id="discountSlider" class="carousel slide" data-ride="carousel" data-interval="false">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active" id="main">
                            <div class="col-lg-12 col-md-15 col-sm-20 col-xs-30 item-product">
                                <div class="item-product-inner">
                                    <a href="https://upg.uz/en/products/hyperx-pulsefire-haste" class="item-link">

                                        <img class="item-product-img center-block"
                                             src="https://upg.uz/storage/files/products/1/thumbs/Oh3MQ80FMlZHw2OsTMGotYqhfYvZjeomweWuo0Pz.jpg"
                                             alt="">
                                        HyperX Pulsefire Haste
                                    </a>
                                    <div class="product-mini-rating">
                                        <div class="mp-small_rate" mp-prod_id="">
                                            <div class="mp-rating-value-wrap">
                                                <div class="mp-rating-value">
                                                    <div style="width:100%"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <span class="item-price price-old">627 000 сум</span>

                                    <span class="item-price price-new">483 000 сум</span>

                                    <div class="item-buttons center-block">
                                        <a class="item-buy-btn cart" role="button" onclick="addToCart('1');"
                                           id="cartActive1" data-id="c1" data-productname="HyperX Pulsefire Haste"
                                           data-productslug="hyperx-pulsefire-haste">Купить</a>
                                        <a class="item-compare-btn libra" role="button"
                                           onclick="addToCompare(1, 1, 'hyperx-pulsefire-haste', 'HyperX Pulsefire Haste')"
                                           data-id="l1"></a>
                                    </div>
                                </div>
                                <script>
                                    localStorage.getItem('compare_product').split(',').forEach(el => {
                                        if (el === "1") {
                                            $(`[data-id="l${el}"]`).addClass('selected_libra');
                                        }
                                    })
                                    if (JSON.parse(localStorage.getItem('product_id')) != null) {
                                        JSON.parse(localStorage.getItem('product_id')).forEach(el => {
                                            if (el.product_id === "1") {
                                                $(`[data-id="c${el.product_id}"]`).addClass('selected_cart');
                                            }
                                        })
                                    }

                                </script>
                            </div>
                            <script>
                                function showModal(productId, productSlug, productName) {
                                    $(`[data-id="l${productId}"]`).addClass('active');
                                    const elements = localStorage.getItem('compare_product');
                                    const categoryElements = JSON.parse(elements);
                                    const elementKeys = Object.keys(categoryElements);
                                    const parameter = `?categories=${elementKeys}&data=${categoryElements[elementKeys[0]]}`;
                                    $('#modalNew').show();
                                    $('#informModalCartCompare').html(`<div>Товар <a href="/products/${productId}">${productName}</a> добавлен в <a id="compareBtn" href="https://upg.uz/en/compare${parameter}#">список сравнения товаров</a>!</div>`);
                                }

                                function getProductLength() {
                                    let elements = localStorage.getItem('compare_product');
                                    let categoryElements = JSON.parse(elements);
                                    let compareProducts = 0;
                                    if (elements) {
                                        const elementKeys = Object.keys(categoryElements);
                                        for (const elementKey in elementKeys) {
                                            const element = categoryElements[elementKeys[elementKey]].split(',');
                                            element[element.length - 1] === '' ? element.splice(-1, 1) : element;
                                            compareProducts += element.length;
                                        }
                                    }

                                    return compareProducts;
                                }

                                function addToCompare(productId, categoryId, productSlug, productName) {
                                    const compareProducts = localStorage.getItem('compare_product');
                                    if (compareProducts) {
                                        let compare_products = '';
                                        let exist = false;
                                        let cart_product_check = [];
                                        let productIds = JSON.parse(localStorage.getItem('compare_product'));

                                        if (productIds[categoryId]) {
                                            console.log('category exists');
                                            console.log(productIds[categoryId]);
                                            cart_product_check = productIds[categoryId].split(',');

                                            for (let i = 0; i <= cart_product_check.length; i++) {
                                                if (parseInt(cart_product_check[i]) === productId) {
                                                    console.log('exists')
                                                    exist = true;
                                                }
                                            }
                                        }

                                        if (!exist) {
                                            console.log('workng not exist')
                                            if (cart_product_check.length < 1) {
                                                productIds[categoryId] = `${productId},`;
                                                localStorage.setItem('compare_product', JSON.stringify(productIds));
                                                let containerCounter = $('#top-compare-total');
                                                containerCounter.text(getProductLength());
                                                showModal(productId, productSlug, productName);
                                                $(`#l${productId}`).addClass('active');

                                            } else if (cart_product_check.length <= 3 && cart_product_check.length >= 1) {
                                                $.ajax({
                                                    url: '/check-compare/' + productId + '/' + cart_product_check[0],
                                                    method: 'GET',
                                                    success: function (data) {
                                                        if (data.message === 'success') {
                                                            compare_products = productIds[categoryId];
                                                            compare_products += `${productId},`;
                                                            productIds[categoryId] = compare_products;
                                                            localStorage.setItem('compare_product', JSON.stringify(productIds));
                                                            let containerCounter = $('#top-compare-total');
                                                            containerCounter.text(getProductLength());
                                                            showModal(productId, productSlug, productName);
                                                        } else {
                                                            alert('For comparing products categories must be the same')
                                                            $(`[data-id="l${productId}"]`).removeClass('selected_libra')
                                                        }
                                                    }, error: function (data) {
                                                        // console.log(data);
                                                    }
                                                });
                                            } else {
                                                alert('You can compare only 3 products')
                                                $(`[data-id="l${productId}"]`).removeClass('selected_libra')
                                            }

                                        } else {
                                            showModal(productId, productSlug, productName);
                                        }
                                    } else {
                                        localStorage.setItem('compare_product', JSON.stringify({ [categoryId]: `${productId},` }));
                                        showModal(productId, productSlug, productName);
                                    }
                                    calculateCompareProductsCount();
                                }

                                function calculateCompareProductsCount() {
                                    let compareProducts = 0;
                                    const data = localStorage.getItem('compare_product');
                                    const categoryElements = JSON.parse(data);
                                    elementKeys = Object.keys(categoryElements);
                                    for (const elementKey in elementKeys) {
                                        const element = categoryElements[elementKeys[elementKey]].split(',');
                                        element[element.length - 1] === '' ? element.splice(-1, 1) : element;
                                        compareProducts += element.length;
                                    }
                                    $('#top-compare-total').html(compareProducts);
                                }
                            </script>
                            <div class="col-lg-12 col-md-15 col-sm-20 col-xs-30 item-product">
                                <div class="item-product-inner">
                                    <a href="https://upg.uz/en/products/hyperx-cloud-alpha-dts-x-wireless"
                                       class="item-link">

                                        <img class="item-product-img center-block"
                                             src="https://upg.uz/storage/files/products/858/thumbs/VmdJPYC2ms7AopxGJpjs7uOsm6j3TL7EeDMMSWhf.jpg"
                                             alt="">





                                        HyperX Cloud Alpha Wireless DTS X
                                    </a>
                                    <div class="product-mini-rating">
                                        <div class="mp-small_rate" mp-prod_id="">
                                            <div class="mp-rating-value-wrap">
                                                <div class="mp-rating-value">
                                                    <div style="width:0%"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <span class="item-price price-old">2 056 000 сум</span>

                                    <span class="item-price price-new">1 563 000 сум</span>

                                    <div class="item-buttons center-block">
                                        <a class="item-buy-btn cart" role="button" onclick="addToCart('858');"
                                           id="cartActive858" data-id="c858"
                                           data-productname="HyperX Cloud Alpha Wireless DTS X"
                                           data-productslug="hyperx-cloud-alpha-dts-x-wireless">Купить</a>
                                        <a class="item-compare-btn libra" role="button"
                                           onclick="addToCompare(858, 5, 'hyperx-cloud-alpha-dts-x-wireless', 'HyperX Cloud Alpha Wireless DTS X')"
                                           data-id="l858"></a>
                                    </div>
                                </div>
                                <script>
                                    localStorage.getItem('compare_product').split(',').forEach(el => {
                                        if (el === "858") {
                                            $(`[data-id="l${el}"]`).addClass('selected_libra');
                                        }
                                    })
                                    if (JSON.parse(localStorage.getItem('product_id')) != null) {
                                        JSON.parse(localStorage.getItem('product_id')).forEach(el => {
                                            if (el.product_id === "858") {
                                                $(`[data-id="c${el.product_id}"]`).addClass('selected_cart');
                                            }
                                        })
                                    }

                                </script>
                            </div>
                            <script>
                                function showModal(productId, productSlug, productName) {
                                    $(`[data-id="l${productId}"]`).addClass('active');
                                    const elements = localStorage.getItem('compare_product');
                                    const categoryElements = JSON.parse(elements);
                                    const elementKeys = Object.keys(categoryElements);
                                    const parameter = `?categories=${elementKeys}&data=${categoryElements[elementKeys[0]]}`;
                                    $('#modalNew').show();
                                    $('#informModalCartCompare').html(`<div>Товар <a href="/products/${productId}">${productName}</a> добавлен в <a id="compareBtn" href="https://upg.uz/en/compare${parameter}#">список сравнения товаров</a>!</div>`);
                                }

                                function getProductLength() {
                                    let elements = localStorage.getItem('compare_product');
                                    let categoryElements = JSON.parse(elements);
                                    let compareProducts = 0;
                                    if (elements) {
                                        const elementKeys = Object.keys(categoryElements);
                                        for (const elementKey in elementKeys) {
                                            const element = categoryElements[elementKeys[elementKey]].split(',');
                                            element[element.length - 1] === '' ? element.splice(-1, 1) : element;
                                            compareProducts += element.length;
                                        }
                                    }

                                    return compareProducts;
                                }

                                function addToCompare(productId, categoryId, productSlug, productName) {
                                    const compareProducts = localStorage.getItem('compare_product');
                                    if (compareProducts) {
                                        let compare_products = '';
                                        let exist = false;
                                        let cart_product_check = [];
                                        let productIds = JSON.parse(localStorage.getItem('compare_product'));

                                        if (productIds[categoryId]) {
                                            console.log('category exists');
                                            console.log(productIds[categoryId]);
                                            cart_product_check = productIds[categoryId].split(',');

                                            for (let i = 0; i <= cart_product_check.length; i++) {
                                                if (parseInt(cart_product_check[i]) === productId) {
                                                    console.log('exists')
                                                    exist = true;
                                                }
                                            }
                                        }

                                        if (!exist) {
                                            console.log('workng not exist')
                                            if (cart_product_check.length < 1) {
                                                productIds[categoryId] = `${productId},`;
                                                localStorage.setItem('compare_product', JSON.stringify(productIds));
                                                let containerCounter = $('#top-compare-total');
                                                containerCounter.text(getProductLength());
                                                showModal(productId, productSlug, productName);
                                                $(`#l${productId}`).addClass('active');

                                            } else if (cart_product_check.length <= 3 && cart_product_check.length >= 1) {
                                                $.ajax({
                                                    url: '/check-compare/' + productId + '/' + cart_product_check[0],
                                                    method: 'GET',
                                                    success: function (data) {
                                                        if (data.message === 'success') {
                                                            compare_products = productIds[categoryId];
                                                            compare_products += `${productId},`;
                                                            productIds[categoryId] = compare_products;
                                                            localStorage.setItem('compare_product', JSON.stringify(productIds));
                                                            let containerCounter = $('#top-compare-total');
                                                            containerCounter.text(getProductLength());
                                                            showModal(productId, productSlug, productName);
                                                        } else {
                                                            alert('For comparing products categories must be the same')
                                                            $(`[data-id="l${productId}"]`).removeClass('selected_libra')
                                                        }
                                                    }, error: function (data) {
                                                        // console.log(data);
                                                    }
                                                });
                                            } else {
                                                alert('You can compare only 3 products')
                                                $(`[data-id="l${productId}"]`).removeClass('selected_libra')
                                            }

                                        } else {
                                            showModal(productId, productSlug, productName);
                                        }
                                    } else {
                                        localStorage.setItem('compare_product', JSON.stringify({ [categoryId]: `${productId},` }));
                                        showModal(productId, productSlug, productName);
                                    }
                                    calculateCompareProductsCount();
                                }

                                function calculateCompareProductsCount() {
                                    let compareProducts = 0;
                                    const data = localStorage.getItem('compare_product');
                                    const categoryElements = JSON.parse(data);
                                    elementKeys = Object.keys(categoryElements);
                                    for (const elementKey in elementKeys) {
                                        const element = categoryElements[elementKeys[elementKey]].split(',');
                                        element[element.length - 1] === '' ? element.splice(-1, 1) : element;
                                        compareProducts += element.length;
                                    }
                                    $('#top-compare-total').html(compareProducts);
                                }
                            </script>
                            <div class="col-lg-12 col-md-15 col-sm-20 col-xs-30 item-product">
                                <div class="item-product-inner">
                                    <a href="https://upg.uz/en/products/639p1aa" class="item-link">

                                        <img class="item-product-img center-block"
                                             src="https://upg.uz/storage/files/products/1480/thumbs/2FHrpeuZWDZYMBXpv87fTsuOlFWYhVFAKm0XQeCD.jpg"
                                             alt="">





                                        HyperX Pulsefire Core Pink
                                    </a>
                                    <div class="product-mini-rating">
                                        <div class="mp-small_rate" mp-prod_id="">
                                            <div class="mp-rating-value-wrap">
                                                <div class="mp-rating-value">
                                                    <div style="width:0%"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <span class="item-price price-old">419 000 сум</span>

                                    <span class="item-price price-new">356 000 сум</span>

                                    <div class="item-buttons center-block">
                                        <a class="item-buy-btn cart" role="button" onclick="addToCart('1480');"
                                           id="cartActive1480" data-id="c1480"
                                           data-productname="HyperX Pulsefire Core Pink"
                                           data-productslug="639p1aa">Купить</a>
                                        <a class="item-compare-btn libra" role="button"
                                           onclick="addToCompare(1480, 1, '639p1aa', 'HyperX Pulsefire Core Pink')"
                                           data-id="l1480"></a>
                                    </div>
                                </div>
                                <script>
                                    localStorage.getItem('compare_product').split(',').forEach(el => {
                                        if (el === "1480") {
                                            $(`[data-id="l${el}"]`).addClass('selected_libra');
                                        }
                                    })
                                    if (JSON.parse(localStorage.getItem('product_id')) != null) {
                                        JSON.parse(localStorage.getItem('product_id')).forEach(el => {
                                            if (el.product_id === "1480") {
                                                $(`[data-id="c${el.product_id}"]`).addClass('selected_cart');
                                            }
                                        })
                                    }

                                </script>
                            </div>
                            <script>
                                function showModal(productId, productSlug, productName) {
                                    $(`[data-id="l${productId}"]`).addClass('active');
                                    const elements = localStorage.getItem('compare_product');
                                    const categoryElements = JSON.parse(elements);
                                    const elementKeys = Object.keys(categoryElements);
                                    const parameter = `?categories=${elementKeys}&data=${categoryElements[elementKeys[0]]}`;
                                    $('#modalNew').show();
                                    $('#informModalCartCompare').html(`<div>Товар <a href="/products/${productId}">${productName}</a> добавлен в <a id="compareBtn" href="https://upg.uz/en/compare${parameter}#">список сравнения товаров</a>!</div>`);
                                }

                                function getProductLength() {
                                    let elements = localStorage.getItem('compare_product');
                                    let categoryElements = JSON.parse(elements);
                                    let compareProducts = 0;
                                    if (elements) {
                                        const elementKeys = Object.keys(categoryElements);
                                        for (const elementKey in elementKeys) {
                                            const element = categoryElements[elementKeys[elementKey]].split(',');
                                            element[element.length - 1] === '' ? element.splice(-1, 1) : element;
                                            compareProducts += element.length;
                                        }
                                    }

                                    return compareProducts;
                                }

                                function addToCompare(productId, categoryId, productSlug, productName) {
                                    const compareProducts = localStorage.getItem('compare_product');
                                    if (compareProducts) {
                                        let compare_products = '';
                                        let exist = false;
                                        let cart_product_check = [];
                                        let productIds = JSON.parse(localStorage.getItem('compare_product'));

                                        if (productIds[categoryId]) {
                                            console.log('category exists');
                                            console.log(productIds[categoryId]);
                                            cart_product_check = productIds[categoryId].split(',');

                                            for (let i = 0; i <= cart_product_check.length; i++) {
                                                if (parseInt(cart_product_check[i]) === productId) {
                                                    console.log('exists')
                                                    exist = true;
                                                }
                                            }
                                        }

                                        if (!exist) {
                                            console.log('workng not exist')
                                            if (cart_product_check.length < 1) {
                                                productIds[categoryId] = `${productId},`;
                                                localStorage.setItem('compare_product', JSON.stringify(productIds));
                                                let containerCounter = $('#top-compare-total');
                                                containerCounter.text(getProductLength());
                                                showModal(productId, productSlug, productName);
                                                $(`#l${productId}`).addClass('active');

                                            } else if (cart_product_check.length <= 3 && cart_product_check.length >= 1) {
                                                $.ajax({
                                                    url: '/check-compare/' + productId + '/' + cart_product_check[0],
                                                    method: 'GET',
                                                    success: function (data) {
                                                        if (data.message === 'success') {
                                                            compare_products = productIds[categoryId];
                                                            compare_products += `${productId},`;
                                                            productIds[categoryId] = compare_products;
                                                            localStorage.setItem('compare_product', JSON.stringify(productIds));
                                                            let containerCounter = $('#top-compare-total');
                                                            containerCounter.text(getProductLength());
                                                            showModal(productId, productSlug, productName);
                                                        } else {
                                                            alert('For comparing products categories must be the same')
                                                            $(`[data-id="l${productId}"]`).removeClass('selected_libra')
                                                        }
                                                    }, error: function (data) {
                                                        // console.log(data);
                                                    }
                                                });
                                            } else {
                                                alert('You can compare only 3 products')
                                                $(`[data-id="l${productId}"]`).removeClass('selected_libra')
                                            }

                                        } else {
                                            showModal(productId, productSlug, productName);
                                        }
                                    } else {
                                        localStorage.setItem('compare_product', JSON.stringify({ [categoryId]: `${productId},` }));
                                        showModal(productId, productSlug, productName);
                                    }
                                    calculateCompareProductsCount();
                                }

                                function calculateCompareProductsCount() {
                                    let compareProducts = 0;
                                    const data = localStorage.getItem('compare_product');
                                    const categoryElements = JSON.parse(data);
                                    elementKeys = Object.keys(categoryElements);
                                    for (const elementKey in elementKeys) {
                                        const element = categoryElements[elementKeys[elementKey]].split(',');
                                        element[element.length - 1] === '' ? element.splice(-1, 1) : element;
                                        compareProducts += element.length;
                                    }
                                    $('#top-compare-total').html(compareProducts);
                                }
                            </script>
                            <div class="col-lg-12 col-md-15 col-sm-20 col-xs-30 item-product">
                                <div class="item-product-inner">
                                    <a href="https://upg.uz/en/products/hyperx-wrist-rest-variations-compact"
                                       class="item-link">

                                        <img class="item-product-img center-block"
                                             src="https://upg.uz/storage/files/products/978/thumbs/2XylwwXvD3y7lFm21kJEym6qgBmRP0gjLVUM12ih.jpg"
                                             alt="">
                                        HyperX Wrist Rest Variations (Compact)
                                    </a>
                                    <div class="product-mini-rating">
                                        <div class="mp-small_rate" mp-prod_id="">
                                            <div class="mp-rating-value-wrap">
                                                <div class="mp-rating-value">
                                                    <div style="width:0%"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <span class="item-price price-old">254 000 сум</span>

                                    <span class="item-price price-new">89 000 сум</span>

                                    <div class="item-buttons center-block">
                                        <a class="item-buy-btn cart" role="button" onclick="addToCart('978');"
                                           id="cartActive978" data-id="c978"
                                           data-productname="HyperX Wrist Rest Variations (Compact)"
                                           data-productslug="hyperx-wrist-rest-variations-compact">Купить</a>
                                        <a class="item-compare-btn libra" role="button"
                                           onclick="addToCompare(978, 8, 'hyperx-wrist-rest-variations-compact', 'HyperX Wrist Rest Variations (Compact)')"
                                           data-id="l978"></a>
                                    </div>
                                </div>
                                <script>
                                    localStorage.getItem('compare_product').split(',').forEach(el => {
                                        if (el === "978") {
                                            $(`[data-id="l${el}"]`).addClass('selected_libra');
                                        }
                                    })
                                    if (JSON.parse(localStorage.getItem('product_id')) != null) {
                                        JSON.parse(localStorage.getItem('product_id')).forEach(el => {
                                            if (el.product_id === "978") {
                                                $(`[data-id="c${el.product_id}"]`).addClass('selected_cart');
                                            }
                                        })
                                    }

                                </script>
                            </div>
                            <script>
                                function showModal(productId, productSlug, productName) {
                                    $(`[data-id="l${productId}"]`).addClass('active');
                                    const elements = localStorage.getItem('compare_product');
                                    const categoryElements = JSON.parse(elements);
                                    const elementKeys = Object.keys(categoryElements);
                                    const parameter = `?categories=${elementKeys}&data=${categoryElements[elementKeys[0]]}`;
                                    $('#modalNew').show();
                                    $('#informModalCartCompare').html(`<div>Товар <a href="/products/${productId}">${productName}</a> добавлен в <a id="compareBtn" href="https://upg.uz/en/compare${parameter}#">список сравнения товаров</a>!</div>`);
                                }

                                function getProductLength() {
                                    let elements = localStorage.getItem('compare_product');
                                    let categoryElements = JSON.parse(elements);
                                    let compareProducts = 0;
                                    if (elements) {
                                        const elementKeys = Object.keys(categoryElements);
                                        for (const elementKey in elementKeys) {
                                            const element = categoryElements[elementKeys[elementKey]].split(',');
                                            element[element.length - 1] === '' ? element.splice(-1, 1) : element;
                                            compareProducts += element.length;
                                        }
                                    }

                                    return compareProducts;
                                }

                                function addToCompare(productId, categoryId, productSlug, productName) {
                                    const compareProducts = localStorage.getItem('compare_product');
                                    if (compareProducts) {
                                        let compare_products = '';
                                        let exist = false;
                                        let cart_product_check = [];
                                        let productIds = JSON.parse(localStorage.getItem('compare_product'));

                                        if (productIds[categoryId]) {
                                            console.log('category exists');
                                            console.log(productIds[categoryId]);
                                            cart_product_check = productIds[categoryId].split(',');

                                            for (let i = 0; i <= cart_product_check.length; i++) {
                                                if (parseInt(cart_product_check[i]) === productId) {
                                                    console.log('exists')
                                                    exist = true;
                                                }
                                            }
                                        }

                                        if (!exist) {
                                            console.log('workng not exist')
                                            if (cart_product_check.length < 1) {
                                                productIds[categoryId] = `${productId},`;
                                                localStorage.setItem('compare_product', JSON.stringify(productIds));
                                                let containerCounter = $('#top-compare-total');
                                                containerCounter.text(getProductLength());
                                                showModal(productId, productSlug, productName);
                                                $(`#l${productId}`).addClass('active');

                                            } else if (cart_product_check.length <= 3 && cart_product_check.length >= 1) {
                                                $.ajax({
                                                    url: '/check-compare/' + productId + '/' + cart_product_check[0],
                                                    method: 'GET',
                                                    success: function (data) {
                                                        if (data.message === 'success') {
                                                            compare_products = productIds[categoryId];
                                                            compare_products += `${productId},`;
                                                            productIds[categoryId] = compare_products;
                                                            localStorage.setItem('compare_product', JSON.stringify(productIds));
                                                            let containerCounter = $('#top-compare-total');
                                                            containerCounter.text(getProductLength());
                                                            showModal(productId, productSlug, productName);
                                                        } else {
                                                            alert('For comparing products categories must be the same')
                                                            $(`[data-id="l${productId}"]`).removeClass('selected_libra')
                                                        }
                                                    }, error: function (data) {
                                                        // console.log(data);
                                                    }
                                                });
                                            } else {
                                                alert('You can compare only 3 products')
                                                $(`[data-id="l${productId}"]`).removeClass('selected_libra')
                                            }

                                        } else {
                                            showModal(productId, productSlug, productName);
                                        }
                                    } else {
                                        localStorage.setItem('compare_product', JSON.stringify({ [categoryId]: `${productId},` }));
                                        showModal(productId, productSlug, productName);
                                    }
                                    calculateCompareProductsCount();
                                }

                                function calculateCompareProductsCount() {
                                    let compareProducts = 0;
                                    const data = localStorage.getItem('compare_product');
                                    const categoryElements = JSON.parse(data);
                                    elementKeys = Object.keys(categoryElements);
                                    for (const elementKey in elementKeys) {
                                        const element = categoryElements[elementKeys[elementKey]].split(',');
                                        element[element.length - 1] === '' ? element.splice(-1, 1) : element;
                                        compareProducts += element.length;
                                    }
                                    $('#top-compare-total').html(compareProducts);
                                }
                            </script>
                            <div class="col-lg-12 col-md-15 col-sm-20 col-xs-30 item-product">
                                <div class="item-product-inner">
                                    <a href="https://upg.uz/en/products/hyperx-cloud-stinger-s-7-1" class="item-link">

                                        <img class="item-product-img center-block"
                                             src="https://upg.uz/storage/files/products/18/thumbs/xUUYGbKS6Hs7tIkZ8rH8B7WVK5DP85HKqRDWMav0.jpg"
                                             alt="">





                                        HyperX Cloud Stinger S 7.1
                                    </a>
                                    <div class="product-mini-rating">
                                        <div class="mp-small_rate" mp-prod_id="">
                                            <div class="mp-rating-value-wrap">
                                                <div class="mp-rating-value">
                                                    <div style="width:0%"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <span class="item-price price-old">853 000 сум</span>

                                    <span class="item-price price-new">572 000 сум</span>

                                    <div class="item-buttons center-block">
                                        <a class="item-buy-btn cart" role="button" onclick="addToCart('18');"
                                           id="cartActive18" data-id="c18"
                                           data-productname="HyperX Cloud Stinger S 7.1"
                                           data-productslug="hyperx-cloud-stinger-s-7-1">Купить</a>
                                        <a class="item-compare-btn libra" role="button"
                                           onclick="addToCompare(18, 5, 'hyperx-cloud-stinger-s-7-1', 'HyperX Cloud Stinger S 7.1')"
                                           data-id="l18"></a>
                                    </div>
                                </div>
                                <script>
                                    localStorage.getItem('compare_product').split(',').forEach(el => {
                                        if (el === "18") {
                                            $(`[data-id="l${el}"]`).addClass('selected_libra');
                                        }
                                    })
                                    if (JSON.parse(localStorage.getItem('product_id')) != null) {
                                        JSON.parse(localStorage.getItem('product_id')).forEach(el => {
                                            if (el.product_id === "18") {
                                                $(`[data-id="c${el.product_id}"]`).addClass('selected_cart');
                                            }
                                        })
                                    }

                                </script>
                            </div>
                            <script>
                                function showModal(productId, productSlug, productName) {
                                    $(`[data-id="l${productId}"]`).addClass('active');
                                    const elements = localStorage.getItem('compare_product');
                                    const categoryElements = JSON.parse(elements);
                                    const elementKeys = Object.keys(categoryElements);
                                    const parameter = `?categories=${elementKeys}&data=${categoryElements[elementKeys[0]]}`;
                                    $('#modalNew').show();
                                    $('#informModalCartCompare').html(`<div>Товар <a href="/products/${productId}">${productName}</a> добавлен в <a id="compareBtn" href="https://upg.uz/en/compare${parameter}#">список сравнения товаров</a>!</div>`);
                                }

                                function getProductLength() {
                                    let elements = localStorage.getItem('compare_product');
                                    let categoryElements = JSON.parse(elements);
                                    let compareProducts = 0;
                                    if (elements) {
                                        const elementKeys = Object.keys(categoryElements);
                                        for (const elementKey in elementKeys) {
                                            const element = categoryElements[elementKeys[elementKey]].split(',');
                                            element[element.length - 1] === '' ? element.splice(-1, 1) : element;
                                            compareProducts += element.length;
                                        }
                                    }

                                    return compareProducts;
                                }

                                function addToCompare(productId, categoryId, productSlug, productName) {
                                    const compareProducts = localStorage.getItem('compare_product');
                                    if (compareProducts) {
                                        let compare_products = '';
                                        let exist = false;
                                        let cart_product_check = [];
                                        let productIds = JSON.parse(localStorage.getItem('compare_product'));

                                        if (productIds[categoryId]) {
                                            console.log('category exists');
                                            console.log(productIds[categoryId]);
                                            cart_product_check = productIds[categoryId].split(',');

                                            for (let i = 0; i <= cart_product_check.length; i++) {
                                                if (parseInt(cart_product_check[i]) === productId) {
                                                    console.log('exists')
                                                    exist = true;
                                                }
                                            }
                                        }

                                        if (!exist) {
                                            console.log('workng not exist')
                                            if (cart_product_check.length < 1) {
                                                productIds[categoryId] = `${productId},`;
                                                localStorage.setItem('compare_product', JSON.stringify(productIds));
                                                let containerCounter = $('#top-compare-total');
                                                containerCounter.text(getProductLength());
                                                showModal(productId, productSlug, productName);
                                                $(`#l${productId}`).addClass('active');

                                            } else if (cart_product_check.length <= 3 && cart_product_check.length >= 1) {
                                                $.ajax({
                                                    url: '/check-compare/' + productId + '/' + cart_product_check[0],
                                                    method: 'GET',
                                                    success: function (data) {
                                                        if (data.message === 'success') {
                                                            compare_products = productIds[categoryId];
                                                            compare_products += `${productId},`;
                                                            productIds[categoryId] = compare_products;
                                                            localStorage.setItem('compare_product', JSON.stringify(productIds));
                                                            let containerCounter = $('#top-compare-total');
                                                            containerCounter.text(getProductLength());
                                                            showModal(productId, productSlug, productName);
                                                        } else {
                                                            alert('For comparing products categories must be the same')
                                                            $(`[data-id="l${productId}"]`).removeClass('selected_libra')
                                                        }
                                                    }, error: function (data) {
                                                        // console.log(data);
                                                    }
                                                });
                                            } else {
                                                alert('You can compare only 3 products')
                                                $(`[data-id="l${productId}"]`).removeClass('selected_libra')
                                            }

                                        } else {
                                            showModal(productId, productSlug, productName);
                                        }
                                    } else {
                                        localStorage.setItem('compare_product', JSON.stringify({ [categoryId]: `${productId},` }));
                                        showModal(productId, productSlug, productName);
                                    }
                                    calculateCompareProductsCount();
                                }

                                function calculateCompareProductsCount() {
                                    let compareProducts = 0;
                                    const data = localStorage.getItem('compare_product');
                                    const categoryElements = JSON.parse(data);
                                    elementKeys = Object.keys(categoryElements);
                                    for (const elementKey in elementKeys) {
                                        const element = categoryElements[elementKeys[elementKey]].split(',');
                                        element[element.length - 1] === '' ? element.splice(-1, 1) : element;
                                        compareProducts += element.length;
                                    }
                                    $('#top-compare-total').html(compareProducts);
                                }
                            </script>
                        </div>
                    </div>
                </div>
                @await Html.PartialAsync("_navbrend")
            </div>
        </div>
    </div>
</section>