﻿@{
    ViewData["Title"] = "UPG";
}

<div class="container main-container-of-main">
@await Html.PartialAsync("_NavMenu")
    <div class="main-side">
        <div class="discount-side">
            <div class="title-of-discount">
                <i class="fa-solid fa-tags"></i>
                <h2>Товары со скидкой</h2>
                <a href="https://youtu.be/WIRK_pGdIdA?si=_LunTpSmONi3qZ1Y">Показать все</a>
            </div>
            <div class="paged-discount">
                <a href="#"><i class="fa-solid fa-angle-left"></i></a>
                <a href="#"><i class="fa-solid fa-angle-right"></i></a>
            </div>
        </div>
        <div class="diskount-items">
            <a class="discount-item" href="#">
                <img src="~/images/Product_images/armchair.jpg" alt="armchair" />
                <p>Rampage KL-R6</p>
                <span>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </span>
                <s>29 641 000 сум</s>
                <h2>27 566 000 сум</h2>
                <div class="services">
                    <button class="main-btn">КУПИТЬ</button>
                    <i class="fa-solid fa-list"></i>
                </div>
            </a>
            <a class="discount-item" href="#">
                <img src="~/images/Product_images/keyboard.jpg" alt="armchair" />
                <p>
                    Keychron C2 Wired 104 Key Gateron G Pro Red White LED Russian
                    Layout
                </p>
                <span>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </span>
                <s>29 641 000 сум</s>
                <h2>27 566 000 сум</h2>
                <div class="services">
                    <button class="main-btn">КУПИТЬ</button>
                    <i class="fa-solid fa-list"></i>
                </div>
            </a>
            <a class="discount-item" href="item.html">
                <img src="~/images/Product_images/Laptop.jpg" alt="armchair" />
                <p>ASUS ZenBook Pro 16X OLED UX7602ZM-ME147W (90NB0WU1-M007H0)</p>
                <span>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </span>
                <s>29 641 000 сум</s>
                <h2>27 566 000 сум</h2>
                <div class="services">
                    <button class="main-btn">КУПИТЬ</button>
                    <i class="fa-solid fa-list"></i>
                </div>
            </a>
            <a class="discount-item" href="#">
                <img src="~/images/Product_images/monitor.jpg" alt="armchair" />
                <p>Dell G2722HS 27''165Hz IPS (Flat)</p>
                <span>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </span>
                <s>29 641 000 сум</s>
                <h2>27 566 000 сум</h2>
                <div class="services">
                    <button class="main-btn">КУПИТЬ</button>
                    <i class="fa-solid fa-list"></i>
                </div>
            </a>
            <a class="discount-item" href="#">
                <img src="~/images/Product_images/playstation 5.jpg"
                        alt="armchair" />
                <p>Sony PlayStation | PS5 5 Digital Edition Slim</p>
                <span>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </span>
                <s>29 641 000 сум</s>
                <h2>27 566 000 сум</h2>
                <div class="services">
                    <button class="main-btn">КУПИТЬ</button>
                    <i class="fa-solid fa-list"></i>
                </div>
            </a>
        </div>
        <div class="new-side">
            <div class="title-of-new">
                <i class="fa-solid fa-calendar-check"></i>
                <h2>Новинки</h2>
                <a href="#">Показать все</a>
            </div>
            <div class="paged-discount">
                <a href="#"><i class="fa-solid fa-angle-left"></i></a>
                <a href="#"><i class="fa-solid fa-angle-right"></i></a>
            </div>
        </div>
        <div class="new-items diskount-items">
            <a class="discount-item" href="#">
                <img src="~/images/Product_images/armchair.jpg" alt="armchair" />
                <p>Rampage KL-R6</p>
                <span>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </span>
                <s>29 641 000 сум</s>
                <h2>27 566 000 сум</h2>
                <div class="services">
                    <button class="main-btn">КУПИТЬ</button>
                    <i class="fa-solid fa-list"></i>
                </div>
            </a>
            <a class="discount-item" href="#">
                <img src="~/images/Product_images/keyboard.jpg" alt="armchair" />
                <p>
                    Keychron C2 Wired 104 Key Gateron G Pro Red White LED Russian
                    Layout
                </p>
                <span>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </span>
                <s>29 641 000 сум</s>
                <h2>27 566 000 сум</h2>
                <div class="services">
                    <button class="main-btn">КУПИТЬ</button>
                    <i class="fa-solid fa-list"></i>
                </div>
            </a>
            <a class="discount-item" href="#">
                <img src="~/images/Product_images/Laptop.jpg" alt="armchair" />
                <p>ASUS ZenBook Pro 16X OLED UX7602ZM-ME147W (90NB0WU1-M007H0)</p>
                <span>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </span>
                <s>29 641 000 сум</s>
                <h2>27 566 000 сум</h2>
                <div class="services">
                    <button class="main-btn">КУПИТЬ</button>
                    <i class="fa-solid fa-list"></i>
                </div>
            </a>
            <a class="discount-item" href="#">
                <img src="~/images/Product_images/monitor.jpg" alt="armchair" />
                <p>Dell G2722HS 27''165Hz IPS (Flat)</p>
                <span>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </span>
                <s>29 641 000 сум</s>
                <h2>27 566 000 сум</h2>
                <div class="services">
                    <button class="main-btn">КУПИТЬ</button>
                    <i class="fa-solid fa-list"></i>
                </div>
            </a>
            <a class="discount-item" href="#">
                <img src="~/images/Product_images/playstation 5.jpg"
                        alt="armchair" />
                <p>Sony PlayStation | PS5 5 Digital Edition Slim</p>
                <span>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </span>
                <s>29 641 000 сум</s>
                <h2>27 566 000 сум</h2>
                <div class="services">
                    <button class="main-btn">КУПИТЬ</button>
                    <i class="fa-solid fa-list"></i>
                </div>
            </a>
        </div>
        <div class="best-side">
            <div class="title-of-best">
                <i style="color: coral" class="fa-regular fa-star"></i>
                <h2>Лучшие предложения</h2>
                <a href="#">Показать все</a>
            </div>
            <div class="paged-discount">
                <a href="#"><i class="fa-solid fa-angle-left"></i></a>
                <a href="#"><i class="fa-solid fa-angle-right"></i></a>
            </div>
        </div>
        <div class="best-items diskount-items">
            <a class="discount-item" href="#">
                <img src="~/images/Product_images/armchair.jpg" alt="armchair" />
                <p>Rampage KL-R6</p>
                <span>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </span>
                <s>29 641 000 сум</s>
                <h2>27 566 000 сум</h2>
                <div class="services">
                    <button class="main-btn">КУПИТЬ</button>
                    <i class="fa-solid fa-list"></i>
                </div>
            </a>
            <a class="discount-item" href="#">
                <img src="~/images/Product_images/keyboard.jpg" alt="armchair" />
                <p>
                    Keychron C2 Wired 104 Key Gateron G Pro Red White LED Russian
                    Layout
                </p>
                <span>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </span>
                <s>29 641 000 сум</s>
                <h2>27 566 000 сум</h2>
                <div class="services">
                    <button class="main-btn">КУПИТЬ</button>
                    <i class="fa-solid fa-list"></i>
                </div>
            </a>
            <a class="discount-item" href="#">
                <img src="~/images/Product_images/Laptop.jpg" alt="armchair" />
                <p>ASUS ZenBook Pro 16X OLED UX7602ZM-ME147W (90NB0WU1-M007H0)</p>
                <span>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </span>
                <s>29 641 000 сум</s>
                <h2>27 566 000 сум</h2>
                <div class="services">
                    <button class="main-btn">КУПИТЬ</button>
                    <i class="fa-solid fa-list"></i>
                </div>
            </a>
            <a class="discount-item" href="#">
                <img src="~/images/Product_images/monitor.jpg" alt="armchair" />
                <p>Dell G2722HS 27''165Hz IPS (Flat)</p>
                <span>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </span>
                <s>29 641 000 сум</s>
                <h2>27 566 000 сум</h2>
                <div class="services">
                    <button class="main-btn">КУПИТЬ</button>
                    <i class="fa-solid fa-list"></i>
                </div>
            </a>
            <a class="discount-item" href="#">
                <img src="~/images/Product_images/playstation 5.jpg"
                        alt="armchair" />
                <p>Sony PlayStation | PS5 5 Digital Edition Slim</p>
                <span>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </span>
                <s>29 641 000 сум</s>
                <h2>27 566 000 сум</h2>
                <div class="services">
                    <button class="main-btn">КУПИТЬ</button>
                    <i class="fa-solid fa-list"></i>
                </div>
            </a>
        </div>
    </div>
</div>

